<div class="row">

    <div class="col-sm-12 text-center" style="margin-top: 15px; margin-bottom: 200px"
         ng-if="productoCtrl.categorias.length > 0">

        <div class="col-sm-12 text-center wrapper">
            <p class="slogan"><span class="span-titulos">DEPARTAMENTOS</span></p>
        </div>

        <div ng-class="{'col-sm-4': productoCtrl.categorias.length == 1,
                        'col-sm-2': productoCtrl.categorias.length == 2,
                        'col-sm-1': productoCtrl.categorias.length == 3}">
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
        </div>
        <div class="col-sm-3"
             style="height: 220px; padding: 5%; cursor: pointer"
             ng-repeat="item in productoCtrl.categorias">
            <div>
                <img src="{{item.urlImagen}}"
                     style="width: 100%; height: 120px"
                     ng-click="productoCtrl.buscarPorCategoria(item)">
            </div>
            <div class="card-categoria">
                <div class="card-categoria-titulo">
                    <b>{{ item.nombreCategoria }}</b>
                </div>
                <div class="card-categoria-sub-titulo"
                     style="margin-top: 5px; font-size: 17px">
                    {{ item.descripcion }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" style="margin-top: 50px"
         ng-if="productoCtrl.producto || productoCtrl.productosList.length > 0">
        <div class="col-sm-11 col-sm-offset-1 text-center wrapper">
            <p class="slogan"><span class="span-titulos">PRODUCTOS</span></p>
        </div>
        <div class="col-sm-3"
             style="margin-top: 15px; ">
            <div class="col-sm-12 titulo-compra-iniciar-session" style="padding: 0">
                <div style="padding: 3%; text-align: center; font-size: 22px; letter-spacing: 3px;">
                    BUSCAR
                </div>
            </div>
            <div class="col-sm-12"
                 style="padding: 0; border: 1px solid #d4cfcf;margin-top: -2px;">
                <form novalidate name="form"
                      ng-submit="productoCtrl.buscarProductosConText(true)">
                    <div class="row" style="padding: 5%;">
                        <div class="col-sm-12" style="margin-top: 10px">
                            <b>Busqueda por Nombre</b>
                        </div>
                        <div class="col-sm-12"  style="margin-top: 10px">
                            <div class="form-group">
                                <div class="margin-bottom-sm">
                                    <input class="form-control" style="height: 30px"
                                           type="text" placeholder="Producto"
                                           ng-model="productoCtrl.busqueda.textBuscar">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-top: 15px">
                            <b>Busqueda por Rango de Precio</b>
                        </div>
                        <div class="col-sm-12" style="margin-top: 10px">
                            <div class="form-group">
                                <div class="margin-bottom-sm">
                                    <select class="form-control" name="rangoPreciosDe"
                                            style="width: 100%"
                                            xs-validate-text-kendo-combo-box kendo-combo-box
                                            k-options="productoCtrl.cbxRangoPrecios"
                                            k-data-source="productoCtrl.rangoPrecios"
                                            ng-model="productoCtrl.busqueda.rangoPreciosDe"
                                            k-ng-model="productoCtrl.rangoPreciosDe">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-top: 10px">
                            <div class="form-group">
                                <div class="margin-bottom-sm">
                                    <select class="form-control" name="rangoPreciosAl"
                                            style="width: 100%"
                                            xs-validate-text-kendo-combo-box kendo-combo-box
                                            k-options="productoCtrl.cbxRangoPrecios"
                                            k-data-source="productoCtrl.rangoPrecios"
                                            ng-model="productoCtrl.busqueda.rangoPreciosAl"
                                            k-ng-model="productoCtrl.rangoPreciosAl">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12"
                             style="margin-bottom: 5px"
                             ng-if="form.$valid && ( productoCtrl.busqueda.textBuscar || (productoCtrl.busqueda.rangoPreciosAl && productoCtrl.busqueda.rangoPreciosDe))">
                            <div style="height: 35px; font-size: 15px;">
                                <button class="buttonAceptar"
                                        ng-click="productoCtrl.buscarProductosConText(true)">
                                    <span>{{"BUSCAR"}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6"
             ng-if="productoCtrl.producto"
             style="margin-top: 15px; margin-left: 20px">
            <div style="height: 500px; padding: 5%">
                <div style="background: black">
                    <div class="card-categoria-titulo" style="text-align: center; color: white !important;">
                        {{productoCtrl.producto.nombreProducto}}
                    </div>
                </div>
                <div>
                    <img src="{{productoCtrl.producto.urlImagen}}" style="width: 100%; height: 400px">
                </div>
                <div class="col-sm-12" style="padding: 0; margin-top: 10px">
                    <div class="col-sm-7 card-categoria-sub-titulo" style="font-size: 16px">
                        {{productoCtrl.producto.descripcion}}
                    </div>
                    <div class="col-sm-3 card-categoria-sub-titulo" style="font-size: 17px">
                        ${{productoCtrl.producto.precio}}
                    </div>
                    <div class="col-sm-2 pull-right"
                         style="padding-right: 0;">
                        <div style="height: 30px; font-size: 13px;">
                            <button class="buttonAceptar"
                                    ng-click="productoCtrl.irADetalleVenta(productoCtrl.producto)">
                                <span>{{"COMPRAR"}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="margin-top: 15px">
                <div class="col-sm-10 col-sm-offset-1"
                     style="margin-top: 15px">
                    <xs-tabla icono="dinero" titulo="Ultimos Compradores"
                              ocultar-busqueda="true"
                              config="productoCtrl.tblProductoVenta"
                              datos="productoCtrl.ventasPorProducto">
                    </xs-tabla>
                </div>
            </div>
        </div>
        <div class="col-sm-8" ng-if="!productoCtrl.producto">
            <div class="col-sm-12">
                <div class="col-sm-4" style="margin: 25px 0;"
                     ng-repeat="prodcts in productoCtrl.productosList">
                    <div style="height: 210px; padding: 5%">
                        <div style="background: black">
                            <div class="card-categoria-titulo"
                                 style="text-align: center; color: white !important;">
                                {{prodcts.nombreProducto}}
                            </div>
                        </div>
                        <div>
                            <img src="{{prodcts.urlImagen}}"
                                 style="width: 100%; height: 130px">
                        </div>
                        <div class="card-lomas-vendido" style="height: 100px !important;">
                            <div class="card-categoria-sub-titulo" style="font-size: 15px">
                                <span ng-if="prodcts.descripcion.length > 55">{{ prodcts.descripcion | limitTo: 52 }}...</span>
                                <span ng-if="prodcts.descripcion.length <= 55">{{ prodcts.descripcion }}</span>
                            </div>
                            <div class="card-categoria-sub-titulo text-right" style="font-size: 15px">
                               <b> ${{prodcts.precio}}</b>
                            </div>
                            <div style="margin-top: 10px">
                                <div class="col-sm-12"  style="padding: 0">
                                    <button class="buttonIgnorar"
                                            ng-click="productoCtrl.irADetalleProducto(prodcts)">
                                        <span>{{"Detalle"}}</span>
                                    </button>
                                </div>
                                <div class="col-sm-12" style="padding: 0; margin-top: 10px">
                                    <button class="buttonAceptar"
                                            ng-click="productoCtrl.irADetalleVenta(prodcts)">
                                        <span>{{"Comprar"}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" style="margin-top: 50px"
         ng-if="productoCtrl.productosList.length == 0">
        <div class="col-sm-11 col-sm-offset-1 text-center wrapper">
            <p class="slogan"><span class="span-titulos">PRODUCTOS</span></p>
        </div>
        <div class="col-sm-3"
             style="margin-top: 15px; ">
            <div class="col-sm-12 titulo-compra-iniciar-session" style="padding: 0">
                <div style="padding: 3%; text-align: center; font-size: 22px; letter-spacing: 3px;">
                    BUSCAR
                </div>
            </div>
            <div class="col-sm-12"
                 style="padding: 0; border: 1px solid #d4cfcf;margin-top: -2px;">
                <form novalidate name="form"
                      ng-submit="productoCtrl.buscarProductosConText(true)">
                    <div class="row" style="padding: 5%;">
                        <div class="col-sm-12" style="margin-top: 10px">
                            <b>Busqueda por Nombre</b>
                        </div>
                        <div class="col-sm-12"  style="margin-top: 10px">
                            <div class="form-group">
                                <div class="margin-bottom-sm">
                                    <input class="form-control" style="height: 30px"
                                           type="text" placeholder="Producto"
                                           ng-model="productoCtrl.busqueda.textBuscar">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-top: 15px">
                            <b>Busqueda por Rango de Precio</b>
                        </div>
                        <div class="col-sm-12" style="margin-top: 10px">
                            <div class="form-group">
                                <div class="margin-bottom-sm">
                                    <select class="form-control" name="rangoPreciosDe"
                                            style="width: 100%"
                                            xs-validate-text-kendo-combo-box kendo-combo-box
                                            k-options="productoCtrl.cbxRangoPrecios"
                                            k-data-source="productoCtrl.rangoPrecios"
                                            ng-model="productoCtrl.busqueda.rangoPreciosDe"
                                            k-ng-model="productoCtrl.rangoPreciosDe">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-top: 10px">
                            <div class="form-group">
                                <div class="margin-bottom-sm">
                                    <select class="form-control" name="rangoPreciosAl"
                                            style="width: 100%"
                                            xs-validate-text-kendo-combo-box kendo-combo-box
                                            k-options="productoCtrl.cbxRangoPrecios"
                                            k-data-source="productoCtrl.rangoPrecios"
                                            ng-model="productoCtrl.busqueda.rangoPreciosAl"
                                            k-ng-model="productoCtrl.rangoPreciosAl">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12"
                             style="margin-bottom: 5px"
                             ng-if="form.$valid && ( productoCtrl.busqueda.textBuscar || (productoCtrl.busqueda.rangoPreciosAl && productoCtrl.busqueda.rangoPreciosDe))">
                            <div style="height: 35px; font-size: 15px;">
                                <button class="buttonAceptar"
                                        ng-click="productoCtrl.buscarProductosConText(true)">
                                    <span>{{"BUSCAR"}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-7"
             style="margin-top: 55px">
            <div class="col-sm-12 col-sm-offset-1 text-center wrapper">
                <p class="slogan" style="font-size: 15px !important;"><span class="span-titulos"> NO EXISTEN REGISTROS CON LOS PARAMETROS INGRESADOS </span></p>
            </div>
        </div>
    </div>

</div>