<div class="modal fade" id="promocionM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="ixs ixs-eliminar"></i> Modificar Promocion
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="form" name="form" novalidate>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Nombre de Promocion</label>
                            <div ng-class="{'has-error': form.nombre.$invalid, 'has-success': form.nombre.$valid}">
                                <input type="text" name="nombre"
                                       ng-model="promocionCtrl.promocionesEditable.nombrePromocion"
                                       ng-pattern="/^[A-Za-záéíóúÁÉÍÓÚñÑ0-9- ]*$/"
                                       class="form-control" style="width: 100%"
                                       maxlength="100" required/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>Orden</label>
                            <div ng-class="{'has-error': form.orden.$invalid, 'has-success': form.orden.$valid}">
                                <input type="text" name="orden"  style="width: 100%"
                                       ng-model="promocionCtrl.promocionesEditable.orden"
                                       class="form-control" maxlength="10" required/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>¿Vigente?</label>
                            <div>
                                <input type="checkbox" id="editable"
                                       ng-model="promocionCtrl.promocionesEditable.indVigente"
                                       ng-true-value="'S'" ng-false-value="'N'">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <ecommers-file file="promocionCtrl.archivoPromocionE"
                                           limpiar="perPersonaCtrl.limpiarArchivoPromocion"
                                           requerido="true"
                                           validacion-form="form"
                                           acepta="image/jpeg,image/gif,image/png,image/x-eps"
                                           nombre-archivo-editable="promocionCtrl.promocionesEditable.imagen">
                            </ecommers-file>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Descripcion de Promocion</label>
                            <div ng-class="{'has-error': form.descripcion.$invalid, 'has-success': form.descripcion.$valid}">
                                <input type="text" name="descripcion"  style="width: 100%"
                                       ng-model="promocionCtrl.promocionesEditable.descripcion"
                                       class="form-control" maxlength="500" required/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            Producto Relacionado
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Categoria</label>
                            <select class="form-control" name="idCategoria"
                                    style="width: 100%"
                                    xs-validate-text-kendo-combo-box kendo-combo-box
                                    k-options="promocionCtrl.cbxCategoria"
                                    k-data-source="promocionCtrl.categorias"
                                    ng-model="promocionCtrl.promocionesEditable.idCategoria"
                                    k-ng-model="promocionCtrl.idCategoriaE"
                                    k-on-change="promocionCtrl.consultarProductosFront(promocionCtrl.promocionesEditable.idCategoria);"
                                    ng-class="{'error-combo': form.idCategoria.$invalid,
                                               'success-combo': form.idCategoria.$valid}">
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>Producto</label>
                            <select class="form-control" name="idProducto"
                                    ng-required="promocionCtrl.promocionesEditable.idProducto"
                                    style="width: 100%"
                                    xs-validate-text-kendo-combo-box kendo-combo-box
                                    k-options="promocionCtrl.cbxProducto"
                                    k-data-source="promocionCtrl.productos"
                                    ng-model="promocionCtrl.promocionesEditable.idProducto"
                                    k-ng-model="promocionCtrl.idProductoE"
                                    ng-class="{'error-combo': form.idProducto.$invalid,
                                               'success-combo': form.idProducto.$valid}">
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer" ng-if="form.$valid && promocionCtrl.noHaCambiado()">
                        <div style="display: inline-block; margin-left: 15px;">
                            <div style="display: inline-block;">
                                <label>Confirmar</label>
                            </div>
                            <div style="display: inline-block; margin-left: 5px;">
                                <button type="button"
                                        ng-click="promocionCtrl.editarPromociones()"
                                        data-dismiss="modal"
                                        class="btn btn-success">
                                    <i class="ixs ixs-palomita">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>