.menuSuperior {
    font-family: Roboto, sans-serif;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 25%);
    font-size: 14px;
    font-weight: 400;
    color: #ffffff !important;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    border: 0px solid #ffffff;
    background-color: #ffffff;
    height: 80px;
}