<div class="row">
    <div class="col-sm-12" style="margin-top: 35px">
        <div class="col-sm-12 text-center wrapper">
            <p class="slogan"><span class="span-titulos">COMPRAR PRODUCTO</span></p>
        </div>
        <div class="col-sm-6 col-sm-offset-2"
             style="margin-top: 15px">
            <div style="height: 500px; padding: 5%">
                <div style="background: black">
                    <div class="card-categoria-titulo" style="text-align: center; color: white !important;">
                       {{ventaCtrl.producto.nombreProducto}}
                    </div>
                </div>
                <div>
                    <img src="{{ventaCtrl.producto.urlImagen}}" style="width: 100%; height: 400px">
                </div>
                <div class="card-lomas-vendido">
                    <div class="col-sm-9 card-categoria-sub-titulo" style="font-size: 16px">
                        {{ventaCtrl.producto.descripcion}}
                    </div>
                    <div class="col-sm-3 card-categoria-sub-titulo" style="font-size: 17px">
                        ${{ventaCtrl.producto.precio}}
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-1"
             ng-if="!ventaCtrl.usuarioSesion" style="margin-top: 15px; ">
            <div class="col-sm-12 titulo-compra-iniciar-session" style="padding: 0">
                <div style="padding: 3%; text-align: center; font-size: 22px; letter-spacing: 3px;">
                    INICIA SESION
                </div>
            </div>
            <div class="col-sm-12"
                 style="padding: 0; border: 1px solid #d4cfcf;margin-top: -2px;">
                <div class="row" style="padding: 5%;">
                    <div class="col-sm-12" style="margin-top: 25px; margin-bottom: 20px">

                        <div class="form-group" ng-class="{'has-error': form.username.$invalid}">
                            <input id="username" style="height: 35px !important;"
                                   name="password" class="form-control input-login"
                                   type="text" xs-capitalizar
                                   placeholder="Correo Electrónico"
                                   ng-required="ventaCtrl.usr.password != null"
                                   ng-model="ventaCtrl.usr.username">
                        </div>

                        <br/>

                        <div class="form-group" ng-class="{'has-error': form.password.$invalid}">
                            <input id="password"  style="height: 35px !important;"
                                   name="password" class="form-control input-login"
                                   type="password" placeholder="Contraseña"
                                   ng-model="ventaCtrl.usr.password"
                                   ng-required="ventaCtrl.usr.username != null">
                        </div>

                    </div>
                    <div class="col-sm-12"
                         style="margin-bottom: 5px">
                        <div style="height: 35px; font-size: 15px;" ng-if="ventaCtrl.usr.username &&  ventaCtrl.usr.password">
                            <button class="buttonAceptar"
                                    ng-click="ventaCtrl.iniciarSesion()">
                                <span>{{"ACCEDER"}}</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12"
                         style="margin-bottom: 20px">
                        <div style="height: 35px; font-size: 15px;">
                            <button class="buttonAceptar"
                                    ng-click="ventaCtrl.mdlSoloResgistro()">
                                <span>{{"REGISTRATE"}}</span>
                            </button>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1"
             ng-if="$root.usuarioSesion"
             ng-init="ventaCtrl.iniciosesionUsuario()">
            <div class="col-sm-12 titulo-compra-iniciar-session"
                 ng-show="ventaCtrl.usuarioSesion"
                 style="padding: 0">
                <div style="padding: 3%; text-align: center; font-size: 22px; letter-spacing: 3px;">
                    DETALLE COMPRA
                </div>
            </div>
            <div class="col-sm-12"
                 ng-show="ventaCtrl.usuarioSesion"
                 style="padding: 0; border: 1px solid #d4cfcf;margin-top: -2px;">
                <div class="row" style="padding: 5%;">
                    <form name="form" novalidate>
                        <div class="col-sm-12" style="margin-bottom: 20px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Producto</label>
                                    <div>
                                        {{ventaCtrl.producto.nombreProducto}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Fecha Compra</label>
                                    <div >
                                        {{ventaCtrl.fechaCompra | fechaSimple}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Precio</label>
                                    <div >
                                        {{ventaCtrl.producto.precio | number}}
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    Dirección de Entrega
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>País</label>
                                    <div ng-class="{'has-error': form.pais.$invalid,
                                                'has-success': form.pais.$valid}">
                                        <input type="text" name="pais"
                                               ng-model="ventaCtrl.nuevaVenta.pais"
                                               ng-pattern="/^[A-Za-záéíóúÁÉÍÓÚñÑ0-9- ]*$/"
                                               class="form-control" style="width: 100%"
                                               maxlength="100" required/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Estado</label>
                                    <div ng-class="{'has-error': form.estado.$invalid, 'has-success': form.estado.$valid}">
                                        <input type="text" name="estado"
                                               ng-model="ventaCtrl.nuevaVenta.estado"
                                               ng-pattern="/^[A-Za-záéíóúÁÉÍÓÚñÑ0-9- ]*$/"
                                               class="form-control" style="width: 100%"
                                               maxlength="100" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-6">
                                    <label>Municipio</label>
                                    <div ng-class="{'has-error': form.municipio.$invalid, 'has-success': form.municipio.$valid}">
                                        <input type="text" name="municipio"
                                               ng-model="ventaCtrl.nuevaVenta.municipio"
                                               ng-pattern="/^[A-Za-záéíóúÁÉÍÓÚñÑ0-9- ]*$/"
                                               class="form-control" style="width: 100%"
                                               maxlength="100" required/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Ciudad</label>
                                    <div ng-class="{'has-error': form.ciudad.$invalid, 'has-success': form.ciudad.$valid}">
                                        <input type="text" name="ciudad"
                                               ng-model="ventaCtrl.nuevaVenta.ciudad"
                                               ng-pattern="/^[A-Za-záéíóúÁÉÍÓÚñÑ0-9- ]*$/"
                                               class="form-control" style="width: 100%"
                                               maxlength="100" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Calle</label>
                                    <div ng-class="{'has-error': form.calle.$invalid, 'has-success': form.calle.$valid}">
                                        <input type="text" name="calle"
                                               ng-model="ventaCtrl.nuevaVenta.calle"
                                               class="form-control" style="width: 100%"
                                               maxlength="100" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Colonia</label>
                                    <div ng-class="{'has-error': form.colonia.$invalid, 'has-success': form.colonia.$valid}">
                                        <input type="text" name="colonia"
                                               ng-model="ventaCtrl.nuevaVenta.colonia"
                                               class="form-control" style="width: 100%"
                                               maxlength="100" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>No Exterior</label>
                                    <div ng-class="{'has-error': form.noExterior.$invalid, 'has-success': form.noExterior.$valid}">
                                        <input type="text" name="noExterior"
                                               ng-model="ventaCtrl.nuevaVenta.noExt"
                                               class="form-control" style="width: 100%"
                                               maxlength="100" required/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>No Interior</label>
                                    <div ng-class="{'has-error': form.noInterior.$invalid, 'has-success': form.noInterior.$valid}">
                                        <input type="text" name="noInterior"
                                               ng-model="ventaCtrl.nuevaVenta.noInterior"
                                               class="form-control" style="width: 100%"
                                               maxlength="100"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>Codigo Postal</label>
                                    <div ng-class="{'has-error': form.codigoPostal.$invalid, 'has-success': form.codigoPostal.$valid}">
                                        <input type="text" name="codigoPostal"
                                               ng-model="ventaCtrl.nuevaVenta.codPos"
                                               class="form-control" style="width: 100%"
                                               maxlength="5" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Referencias</label>
                                    <div ng-class="{'has-error': form.referencias.$invalid, 'has-success': form.referencias.$valid}">
                                        <input type="text" name="referencias"
                                               ng-model="ventaCtrl.nuevaVenta.referencia"
                                               class="form-control" style="width: 100%"
                                               maxlength="500" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12"
                             ng-if="form.$valid"
                             style="margin-bottom: 5px">
                            <div style="height: 35px; font-size: 15px;">
                                <button class="buttonAceptar"
                                        ng-click="ventaCtrl.abrirModalVenta()">
                                    <span>{{"CONFIRMAR COMPRAR"}}</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <iframe ng-show="false" width="1500" height="1000" id='print-iframe' name='print-frame-name'></iframe>
</div>

<div ng-include="'Modulos/Ventas/Venta/modals/mdlRegistroVenta.html'"></div>
<div ng-include="'Modulos/Ventas/Venta/modals/mdlVentaCompletada.html'"></div>