<div ng-controller="MenuSuperiorControlador as menuSuperiorCtrl">

    <div class="topsuperior">
        <div class="menuSuperior" style="padding: 10px;">
            <div class="col-sm-2 panel-logo col-sm-offset-1"
                 style="text-align: center; margin-left: 25px; margin-top: -7px">
                <div class="inside-logo">
                    <img src="img/temas/dark/jcLogo.jpg"
                         style="height: 50px; width: 92%; cursor: pointer"
                         ng-click="menuSuperiorCtrl.irAPortal();">
                </div>
            </div>

            <div class="col-sm-3 pull-right" style="margin-top: 15px; text-align: center">

                <div class="dropdown">
                    <div class="dropbtn"
                         ng-if="!$root.usuarioSesion"
                         ng-click="menuSuperiorCtrl.mdlLogin()">
                        Iniciar Sesión&nbsp;&nbsp;
                        <i class="ixs ixs-usuario" style="font-size: 20px;color: #274488;"></i>
                    </div>
                    <div class="dropbtn" ng-if="$root.usuarioSesion"
                         ng-init="menuSuperiorCtrl.usuarioSesion = $root.usuarioSesion">
                        Hola! {{$root.usuarioSesion.nombreUsuario | limitTo:10}}...
                        <i class="ixs ixs-usuario" style="font-size: 20px;color: #274488;"></i>
                    </div>
                    <div class="dropdown-content" ng-if="$root.usuarioSesion">
                        <a><i class="ixs ixs-usuario" style="font-size: 15px;color: #274488;"></i> {{$root.usuarioSesion.nombreUsuario}} </a>
                        <a><i class="ixs ixs-correoSend" style="font-size: 15px;color: #274488;"></i> {{$root.usuarioSesion.email}} </a>
                        <a>
                            <i class="ixs ixs-clienteexistente1" ng-if="$root.usuarioSesion.tipoUsuario == 'A'" style="font-size: 15px;color: #274488;"></i>
                            <i class="ixs ixs-validarPersona" ng-if="$root.usuarioSesion.tipoUsuario == 'C'" style="font-size: 15px;color: #274488;"></i>
                            <span ng-if="$root.usuarioSesion.tipoUsuario == 'A'"> Administrador</span>
                            <span ng-if="$root.usuarioSesion.tipoUsuario != 'A'"> Comprador </span>
                        </a>
                        <a ng-click="menuSuperiorCtrl.misCompras();">
                            <i class="ixs ixs-mod-cobranza" style="font-size: 15px;color: #274488;"></i>
                            Mis Compras
                        </a>
                        <a ng-click="menuSuperiorCtrl.irAdminPantalla();"
                           ng-if="$root.usuarioSesion.tipoUsuario == 'A'">
                            <i class="ixs ixs-aplicaciones" style="font-size: 15px;color: #274488;"></i>
                            Administración de Pagina
                        </a>
                        <a ng-click="menuSuperiorCtrl.abrirCerrarSesion();">
                            <i class="ixs ixs-tacha" style="font-size: 15px;color: #274488;"></i>
                            Cerrar Sesión
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pull-right" style="margin-top: 15px">
                <div class="form-group" ng-if="!$root.ocultarBuscarMenuSuperior">
                    <form novalidate name="buscar"
                          ng-submit="menuSuperiorCtrl.buscarProducto();">
                        <div class="input-group margin-bottom-sm">
                            <input class="form-control" style="height: 30px"
                                   type="text" placeholder="Buscar Producto"
                                   ng-model="menuSuperiorCtrl.busqueda">
                            <span class="input-group-addon"  style="height: 30px">
                            <i class="ixs ixs-buscar"></i>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'Modulos/MenuSuperior/Modals/mdlLogin.html'"></div>
    <div ng-include="'Modulos/MenuSuperior/Modals/mdlSoloResgistro.html'"></div>
    <div ng-include="'Modulos/MenuSuperior/Modals/mdlVentasUsuario.html'"></div>
    <div ng-include="'Modulos/MenuSuperior/Modals/mdlConfirmaCerrarSesion.html'"></div>

</div>


